$secondaryColor: #1E2D2F;
$importantColor: #1d203e;
$backupChat: #36393f;
$mainColor: #041F1E;
$buttonBackgroundColor:#9BA2FF;
$buttonBackgroundColorHover:#7C85CB;
$buttonColor: #F7ECE1;


main {
  height:100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  width: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.popup__wrapper {
  z-index: 2022;
  width:100vw;
  height: 100vh;
  position:fixed;
  left:0;
  top: 0;
  .blur {
    width:100%;
    height:100%;
    background-color: black;
    filter: opacity(70%);
  }
  .content {
    width:50%;
    height:80%;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    z-index: 2023;
    
    .popup__header {
      @media screen and (max-width: 440px) {
        transform: translate(-50%, -60%);
    
      }
    }
  
    @media screen and (max-width: 440px) {
      width: 99%;
      height: 80%;
    }

    @media screen and (max-width: 1200px) {
      width: 90%;
    }
  }

}

.blogpage__banner {
  background-color: #0fa1ff;
  padding: 40px 100px;
  font-size:80px;
  font-weight:1000;
  @media screen and (max-width:1024px) {
    padding: 30px 80px;
    font-size: 60px;
  }
  @media screen and (max-width:675px) {
    padding: 20px 60px;
    font-size: 40px;
  }
  @media screen and (max-width:466px) {
    padding: 20px 60px;
    font-size: 30px;
  }
  @media screen and (max-width:380px) {
    padding: 20px 40px;
    font-size: 25px;
  }
  @media screen and (max-width:300px) {
    padding: 20px 25px;
    font-size: 18px;
  }
}

.blogpage__container {
  width: 1600px;
  margin: 0 auto;
  padding: 20px 0;

  @media screen and (max-width: 1600px) {
    width:100%;
  }

}

.navbar__wrapper {
  width:100vw;
  height:72px;
  text-transform: uppercase;
  height:100%;
  height:100%;

  .user:hover  > path {
    fill: #03a9f4;
  }

  .navbar {
    width:1600px;
    margin:0 auto;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;

    @media screen and (max-width:1600px) {
      width:100%;
      padding: 0px 20px;
    }
    @media screen and (max-width: 440px) {
      padding: 0 10px;
    }




    &__nav {
      @media screen and (max-width: 720px) {
        display: none;
      }
    }

    &__mobile {
      display:none;

      @media screen and (max-width: 720px) {
        display: block;
      }

      &__nav {
        z-index:2022;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left:0;
        top: 0;
        transition: 500;
        animation: hamb .5s ease-out 1;

        &__links {

          & > * {
            width: 100%;
            text-align:center;
            font-size: 25px;
          }

           li {
             height: 50px;
          }
        }

        @keyframes hamb {
          0% { transform:translateX(-100%)}
          50% { transform: translateX(-25%)}
          100% { transform: translateX(0)}
        }
      }
    }
  
    &__logo {
      width:200px;
      height:100%;
      display:flex;
      gap:5px;

      svg {
        height:70%;
      }

      @media screen and (max-width:700px) {
        display:none;
      }

    }
  
    ul {
      list-style:none;
    }
    &__nav {
      width: 500px;
    }
    &__navlinks {
      display:flex;
      gap: 20px;
      align-items:center;
      justify-content:space-between;
      font-size: 18px;

    }
  }
}



.blog-item {
  width: 33.3%;
  display:flex;
  flex-direction:column;
  align-items:center;



  &__container {
       display:flex;
       flex-direction:column;
       align-items:center;
     
     
  }

  &__logo {
    width: 400px;
    height: 225px;
    overflow: hidden;
    border-radius:15px;

     
     

     @media screen and (max-width:440px) {
       width:313px;
     
     }

   img {
     width:0;
     transition: 0.5s all ease-in-out;
     
     @media screen and (max-width:654px) {
       width:100%;
     
     }
   }

  }

  &__logo:hover img {
    transform:scale(1.2)
  }


  &__info {
    display:flex;
    flex-direction:column;
    gap: 3px;
    width:400px;
    @media screen and (max-width:855px) {
    }
    @media screen and (max-width:654px) {
      width:400px;
    
    }
    @media screen and (max-width:480px) {
      width:100%;
    }
  }


  &__date {
    color:#6e6e6e;
    width:400px;
  }
  &__title {
    text-transform:uppercase;
    font-weight: 700;
    font-style:bold;
    font-size:18px;
  }
}


.blog-list {
  width:100%;

  ul {
    width:100%;
    display:flex;
    gap: 25px;
    padding: 15px 15px;
    flex-wrap:wrap;
    
    @media screen and (max-width:855px) {
      justify-content: center;
    }
  }

  ul > * {
    flex: 0 0 calc(32.2%);

    @media screen and (max-width: 1600px) {
      flex: 0 0 calc(100% - 51%);
    }
    @media screen and (max-width: 1280px) {
      flex: 0 0 calc(100% - 52%);
    }
    @media screen and (max-width:855px) {
      align-items:center;
      flex: 0 0 90%;
    }
  }
}


.login {
  height:calc(100vh - 140px);
  &__wrapper {
    width:100%;
    height:100%;
  }
  &__wrapper form {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
  }

  &__wrapper form *{
    border-radius:15px;
    // color: #fff;
  }

  &__wrapper form input{ 
    width:300px;

  }

  &__wrapper form input:focus {
    background-color: $secondaryColor;
    outline:none;
  }

  &__wrapper form button[type="submit"] {
    border-radius:15px;
    width:250px;
    background-color: $buttonBackgroundColor;
  }

  &__wrapper button[type="submit"]:hover {
    cursor:pointer;
    background-color: $buttonBackgroundColorHover;
  }
  
}


.userpanel {
  position:fixed;
  left:0;
  top: 0;
  width:100vw;
  height:100vh;
  z-index: 2022;

  &__blur {
    width:100%;
    height:100%;
    background-color: black;
    filter: opacity(70%);
  }

 &__content {
   height:100%;
   width: 35%;
   padding: 15px 10px;
   display:flex;
   gap: 15px;
   flex-direction:column;
   align-items:center;
   position:absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   overflow-x: hidden;

   &__info {
     display:flex;
     align-items:center;
     gap:15px;
   }


   @media screen and (max-width:600px) {
     height:100%;
     width:95%;
   }
 }
}

.addtopic {
  position:fixed;
  left:0;
  top: 0;
  width:100vw;
  height:100vh;
  z-index: 2022;

  &__content {
   min-width: 600px;
   min-height: 500px;
   padding: 15px 10px;
   display:flex;
   gap: 15px;
   flex-direction:column;
   align-items:center;
   position:absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   overflow-x: hidden;
   border-radius: 15px;


   @media screen and (max-width: 600px) {
     width:80%;
     height: 80%;
   }
  }

  &__form {
    & form {
      display:flex;
      padding: 15px 15px;
      flex-direction:column;
      align-items:center;
      gap: 20px;
    }
  }
}

.notauth {
  position:fixed;
  left:0;
  top: 0;
  width:100vw;
  height:100vh;
  z-index: 4000;

  &__content {
   padding: 15px 10px;
   display:flex;
   gap: 15px;
   flex-direction:column;
   align-items:center;
   position:absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   overflow-x: hidden;
   border-radius: 15px;
  }
}
